<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style/style.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>Kareem Resume </title>
</head>



<body>
    <div class="container-lg">
        <div id="app">
            <!--
            -------------------------------------------------------
                            contact
            -------------------------------------------------------
            -->
            <center>
                <h2>{{contact.name.firstNameS}} {{contact.name.lastName}}</h2>
                {{contact.email}} &bull;  {{contact.website}} &bull; {{contact.linkedin}}
                &bull; {{contact.address.city}}, {{contact.address.country}}
                <br><br>
                <hr>
            </center>

            <!--
            -------------------------------------------------------
                            objective
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        objective
                    </h1>
                </article>
                <article class=" mb-3">
                    <aside class="date">
                    </aside>
                    <div class="content">
                        {{contact.objective}}
                    </div>
                </article>
            </section> -->

            <!--
            -------------------------------------------------------
                            experience
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        experience
                    </h1>
                </article>
                <article class="mb-3" v-for="item in experience">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.position}}</b>, {{item.company}}, {{item.city}}, {{item.country}}. {{item.mainDuty}}
                        <ul class="bullets">
                            <li v-for="sub in item.dutiesF">
                                {{sub}}
                            </li>
                        </ul>

                    </div>
                </article>
            </section>

            <!--
            -------------------------------------------------------
                            education
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        education
                    </h1>
                </article>
                <article class=" mb-3" v-for="item in education">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b> {{item.degree}}</b>, {{item.institute}}, {{item.department}}, {{item.country}},
                        GPA:<b>{{item.gpa}}%</b> <i> {{item.level}} </i>, <span
                            v-if="item.rank">rank:{{item.rank}}</span>
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            awards
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        awards
                    </h1>
                </article>
                <article class=" mb-3" v-for="item in awards">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b><a v-bind:href="item.url" target="_blank"> {{item.name}}</a> {{item.reason}}</b> ,
                        {{item.institute}}
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            certificates
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        certificates
                    </h1>
                </article>
                <article class="mb-3" v-for="item in certificates">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>, {{item.institute}}.
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            volunteer
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        volunteer
                    </h1>
                </article>
                <article class="mb-3" v-for="item in volunteer">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.role}}</b>: {{item.location}}
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            skills
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        skills
                    </h1>
                </article>
                <article class="mb-3">
                    <aside class="date">
                        Core Skills
                    </aside>
                    <div class="content">
                        <ul class="bullets">
                            <li v-for="item in skills.core">
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </article>
            </section>
            <section>
                <article class="mb-3">
                    <aside class="date">
                        communication Skills
                    </aside>
                    <div class="content">
                        <ul class="bullets">
                            <li v-for="item in skills.communication">
                                {{item}}
                            </li>
                        </ul>
                    </div>
                </article>
            </section>
            <section>
                <article class="mb-3">
                    <aside class="date">
                        technical Skills
                    </aside>
                </article>

                <article class="mb-3" v-for="item in skills.technical">
                    <aside class="date">
                        {{item.name}}
                    </aside>
                    <div class="content">
                        <span v-for="sub in item.skills">{{sub}}, </span>
                    </div>
                </article>
            </section> -->
            <!--
            -------------------------------------------------------
                            publications
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        publications
                    </h1>
                </article>
                <article class=" mb-3" v-for="item in publications">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b> {{item.title}}</b>, {{item.author}}, in {{item.journal}}, {{item.city}}, {{item.country}}
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            talks
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        talks
                    </h1>
                </article>
                <article class=" mb-3" v-for="item in talks">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b> {{item.title}}</b>, {{item.location}}
                    </div>
                </article>
            </section>
            
            <!--
            -------------------------------------------------------
                            projects
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        professional projects
                    </h1>
                </article>
                <article class="mb-3" v-for="item in projects.professional">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>, {{item.company}}, {{item.country}}, {{item.description}}
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <h1>
                        academic projects
                    </h1>
                </article>
                <article class="mb-3" v-for="item in projects.academic">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>, {{item.field}}, {{item.description}}
                    </div>
                </article>
            </section> -->
            
            <!--
            -------------------------------------------------------
                            languages
            -------------------------------------------------------
            -->
           <!--  <section>
                <article>
                    <h1>
                        languages
                    </h1>
                </article>
                <article class="mb-3" v-for="item in languages">
                    <aside class="date">

                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>: {{item.level}}
                    </div>
                </article>
            </section> -->
            
            <!--
            -------------------------------------------------------
                            conferences
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        conferences
                    </h1>
                </article>
                <article class="mb-3" v-for="item in conferences">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.role}}</b> at {{item.name}}, {{item.city}}, {{item.country}}
                    </div>
                </article>
            </section> -->
            <!--
            -------------------------------------------------------
                            training
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        trainee
                    </h1>
                </article>
                <article class="mb-3" v-for="item in training.trainee">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>, {{item.duration}}, {{item.city}}, {{item.country}}
                    </div>
                </article>
            </section>
            <section>
                <article>
                    <h1>
                        trainer
                    </h1>
                </article>
                <article class="mb-3" v-for="item in training.trainer">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <b>{{item.name}}</b>, {{item.duration}}, {{item.city}}, {{item.country}}
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            tpc
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        Reviewer
                    </h1>
                </article>
                <article class="mb-3" v-for="item in tpc">
                    <aside class="date">
                        {{item.date}}
                    </aside>
                    <div class="content">
                        <a href="{{item.url}}" target="_blank"> <b>{{item.name}}</b></a>.
                    </div>
                </article>
            </section>
            <!--
            -------------------------------------------------------
                            memberships
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        memberships
                    </h1>
                </article>
                <article class="mb-3">
                    <aside class="date">

                    </aside>
                    <div class="content">
                        <ul class="bullets">
                            <li v-for="item in memberships">{{item}}</li>
                        </ul>
                    </div>
                </article>
            </section> -->
            <!--
            -------------------------------------------------------
                            interests
            -------------------------------------------------------
            -->
            <!-- <section>
                <article>
                    <h1>
                        interests
                    </h1>
                </article>
                <article class="mb-3">
                    <aside class="date">

                    </aside>
                    <div class="content">
                        <ul class="bullets">
                            <span v-for="item in interests">{{item}}, </span>
                        </ul>
                    </div>
                </article>
            </section> -->
            <!--
            -------------------------------------------------------
                            references
            -------------------------------------------------------
            -->
            <section>
                <article>
                    <h1>
                        references
                    </h1>
                </article>
                <article class="mb-3" v-for="item in references">
                    <aside class="date"> -
                    </aside>
                    <div class="content">
                             <b>{{item.name}}</b>, {{item.position}}, {{item.company}}
                                <br><b>Email:</b> {{item.email}}
                                <br><b>Website:</b> {{item.website}}
                    </div>
                </article>
            </section>



        </div>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <!-- production version, optimized for size and speed -->
    <script src="js/resume.js"></script>
    <!--<script src="https://unpkg.com/vue@next"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <script src="js/script.js"></script>
</body>

</html>
